{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}

<h1>Latest Series</h1>

<ul>
{% for program in programs %}
    <li><a href="{{ path('program_show', { slug: program.slug }) }}">{{program.title}}</a></li>
{% else %}
    <li>No program</li>
{% endfor %}
</ul>

{% endblock %}