<div class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link bg-secondary rounded me-2" href="/">Home</a>
            <a class="nav-link bg-secondary rounded me-2" href="/program">Programs</a>
        </div>
    </div>
</div>